@media(max-width: 991px) {
    .form {
        width: 100%;
    }
}

@media(max-width: 575px) {
    .form-section__title {
        font-size: 30px;
    }

    .form {
        &__input, &__input::placeholder, &__btn, &__btn div {
            width: 50%;
            transform: skewX(0deg);
        }
        &__btn {
            background-color: $red;
        }
    }
}