@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin around {
    @include flex;
    justify-content: space-around;
}
@mixin center {
    @include flex;
    justify-content: center;
}
@mixin btn {
    border: none;
    outline: none;
    cursor: pointer;
}