.activities {
    &__items {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $gutter;
        margin-bottom: 40px;
    }
    &__item {
        padding: 15px 25px 25px 40px;
    }
    &__item-left {
        max-width: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
    }
    &__item-img {
        width: 80px;
        height: 80px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    &__item-title {
        font-size: 20px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.9);
    }
    &__item-more {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
    }
    &__inner {
        margin-bottom: 60px;
    }
    &__title {
        width: 370px
    }
    &__right {
        width: 770px;
    }
    &__text {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__slider-item {
        height: 560px;
    }
    &__slider-btn {
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
        height: 100px;
        &--prev {
            left: -100px;
        }
        &--next {
            right: -100px;
        }
    }
}