.footer {
    &__main {
        background: #E5E5E5;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 49px 0 60px;
    }
    &__left {
        width: 270px;
    }
    &__title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 70px;
    }
    &__left-list {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 13px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 60px;
        span {
            display: inline-block;
            font-family: 'Commissioner', sans-serif;
            font-weight: 500;
            letter-spacing: 0.01em;
            margin-right: 15px;
        }
    }
    &__social-list {
        width: 255px;
        margin-bottom: 50px;
    }
    &__left-link {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        span {
            display: block;
            max-width: 162px;
            margin-right: 15px;
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.75);
        }
    }

    &__item-title {
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
    }
    &__item-subtitle {
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: rgba(0, 0, 0, 0.75);
        margin-bottom: 5px;
    }
    &__item-text {
        max-width: 90%;
        font-size: 13px;
        line-height: 20px;
    }
    hr {
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        opacity: 0.7;
        margin: 5px 0 29px
    }
    &__offices {
        width: 670px;
        padding-top: 35px;
    }
    &__offices-column {
        width: 200px;
    }
    &__offices-leftitem {
        margin-bottom: 20px;
    }
    &__offices-item {
        margin-bottom: 35px;
    }
    &__offices-title {
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.75);
        margin-bottom: 10px;
    }
    &__offices-lefttitle {
        margin-bottom: 20px;
    }
    &__email {
        display: block;
        color: rgba(0, 0, 0, 0.8);
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        margin-top: 5px;
    }

    &__right {
        width: 170px;
        padding-top: 35px;
        .footer__item-text {
            max-width: 100%;
        }
    }
    &__right-item {
        margin-bottom: 30px;
    }

    &__bottom {
        background: rgba(0, 0, 0, 0.1);
        min-height: 55px;
        padding: 17px 0 18px;
    }
    &__bottom-text {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-align: center;
    }
}