.partnership {
    &__inner {
        width: 500px;
    }
    &__list {
        margin-bottom: 35px;
    }
    &__list-item {
        display: flex;
        margin-bottom: 30px;
    }
    &__list-num {
        width: 70px;
        height: 70px;
        border-radius: 75%; // не хочет скругляться полностью (не указан радиус)
        border: 1px solid rgba(222, 195, 119, 0.75);
        margin-right: 30px;
        span {
            font-weight: 800;
            font-size: 22px;
            line-height: 67px;
            color: $accent;
        }
    }
    &__list-text {
        font-weight: 400;
    }
    &__text {
        letter-spacing: 0.01em;
    }
}

.form {
    min-height: 365px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 40px 50px 50px 50px;
    &__label, &__text {
        font-size: 13px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.5);
    }
    &__label {
        display: block;
        font-weight: 500;
        letter-spacing: 0.01em;
        margin-bottom: 5px;
    }
    &__input {
        width: 100%;
        padding: 5px 10px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 15px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.8);
        opacity: 0.6;
        margin-bottom: 20px;
        outline: none;
    }
    &__text {
        color: rgba(0, 0, 0, 0.5);
        line-height: 20px;
        margin-bottom: 30px;
    }
    &__politics {
        font-weight: 700;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
    &__btn {
        width: 100%;
    }
}