.main {
    margin-bottom: 0;
    &__slider {
        //position: relative;
    }
    &__slider-inner {
        padding-top: 160px;
    }
    &__slider-item {
        position: relative;
        height: 650px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    &__slider-inner {
        width: 570px;
    }
    &__slider-btn {
        bottom: 100px;
        &--prev {
            left: 140px;
        }
        &--next {
            left: 200px;
        }
    }
    &__title {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.01em;
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 50px;
    }
}