.partners {
    padding-top: 100px;
    &__slider {
        min-height: 585px;
        .slick {
            &-slide {
                width: 570px;
                min-height: 585px;
                margin: 0 15px;
            }
            &-list {
                padding-bottom: 30px;
            }
            &-dots {
                display: flex;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                bottom: -30px;
                list-style-type: none;
                font-size: 0;
                li button {
                    width: 10px;
                    height: 10px;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 300px;
                    margin: 0 5px;
                    @include btn;
                }
                .slick-active button {
                    background: $accent;
                }
            }
            &-active {
                li button {
                    background: $accent;
                }
            }
        }
    }
    &__slider-item {
        min-height: 585px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        background-image: url('../img/bg/review-card_img.jpg');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 140px 50px 65px;
    }
    &__slider-btn {
        bottom: -50px;
        right: 0;
        &--prev {
            right: 60px;
        }
    }
    &__position {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
    }
    &__name {
        font-weight: bold;
        font-size: 26px;
        line-height: 40px;
        letter-spacing: 0.01em;
        color: $accent;
        margin-bottom: 20px;
    }
    &__review {
        font-size: 14px;
        letter-spacing: 0.01em;
        margin-bottom: 25px;
    }
    &__review-readmore {
        @include btn;
        background-color: transparent;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
    }
    &__inner {
        display: flex;
        margin-bottom: 40px;
    }
    &__text {
        width: 670px;
        margin-right: 100px;
    }
    &__link {
        @include btn;
        background-color: transparent;
        border: 2px solid $accent;
        color: $accent;
        &:hover {
            background-color: $accent;
            color: #ffffff
        }
    }
    &__logos {
        @include around;
    }
}