.service {
    &__list {
        margin-bottom: 50px;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 140px;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        padding: 25px 30px 20px 100px;
        margin-bottom: $gutter;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 70px;
            height: 100%;
            background: rgba(222, 195, 119, 0.75);
        }
        &--light {
            &:before {
                background: rgba(222, 195, 119, 0.4);
            }
        }
        &--dark {
            &:before {
                background: $accent;
            }
        }
    }
    &__item-title {
        font-size: 20px;
        line-height: 30px;
        //margin-bottom: 45px;
    }
    &__item-more {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        text-align: right;
    }
    &__text {
        width: 770px;
    }
}